#register_form_frame{
    width: 35%;
    height: 500px;
}
#registerForm{
    float: left;
    margin-left: 5px;
}
.register_input {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.loginInputLabels{
    float: left;
    font-weight: lighter;
}
.submitButton{
    width: 100%;
}
#errorHolders{
overflow-wrap: break-word;
}

#errorRegisterBox{
    width: 35%;
}
#registerForm{
    width: 80%;
}


@media screen and (max-width: 840px) {
    #register_form_frame, #errorRegisterBox, .loginInputLabels, .btn, #registerForm{
        width: 100%;
    }
}